.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# ignore Minecraft and Forge files
.classpath
.project
.settings/
banned-ips.json
banned-players.json
bin/
config/
eula.txt
logs/
ops.json
options.txt
saves/
server.properties
usercache.json
usernamecache.json
whitelist.json
world/
